<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead">
</head>
<body>

<div th:replace="template :: navigation"></div>
<h2><a th:href="'/blog/' + ${username} + '/' + ${postId}" th:text="${title}"></a></h2>

<p name = "body" th:text="${body}"></p>

<p class="post-author">written by <a th:href="'/blog/' + ${username}" th:text="${username}"></a></p>
<p class="created">created: <span th:text="${#dates.format(created, 'yyyy-MM-dd')}"></span></p>
</body>
</html>