<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="dochead">

    <link rel="icon" href="../static/img/favicon.ico"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">

    <!-- Custom styles for this template -->

    <title>bLOG</title>
</head>

<body>

<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">CMSC 495 bLog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">View Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/newpost">Create Post</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-info mr-1 my-2 my-sm-0" href="/login">Login</a>
                <a class="btn btn-warning my-2 my-sm-0" href="/logout">Logout</a>
            </form>
        </div>
</nav>


<div th:fragment="card" class="card text-white bg-success mb-3"
     style="
        max-width: 20rem;
        overflow: auto;
        float: right;
    ">
    <div class="card-header">University of Maryland University College</div>
    <div class="card-body">
        <h4 class="card-title">bLOG</h4>
        <img th:src="@{/img/site-logo.png}">
        <p class="card-text">
            This is the final project for the CMSC 495 6380
            Current Trends and Projects in Computer Science (2198)
            class at UMUC. The team will create a web blog that allows
            users to create accounts in order to post entries.
            Group 5: Stanislav Fatkhutdinov, Jennifer Johnson,
            Mahamud Sazzad, Angela Phillips.
        </p>
    </div>
</div>

<div th:fragment="footer" class="align-content-center border border-top border-light mt-2">
    <footer class="blog-footer">
        <div class="container">
            <div class="footer_center">
                <h5 class="col-sm-12 text-center mt-2">
                    <!-- Show username if logged in -->
                    <span>
                        | Logged User: |
                            Time: <b></b> |
                    </span>

                    <div>
                        <p class="text-center">&copy; 2019 University of Maryland University College</p>
                    </div>
                </h5>
            </div>
        </div>
    </footer>
</div>

</body>
</html>